---
import Layout from '~/layouts/default.astro';
---

<Layout description="A star is born">
  <div class="wrapper">
    <h1 class="text-center">mallard<br />GREEN</h1>
  </div>
</Layout>

<style>
  h1 {
    font: 600 normal clamp(10px, 8.33vw, 160px) / 0.8 var(--font-heading);
  }

  .desc {
    padding-block: 2.5vw;
  }

  .poster {
    aspect-ratio: 3 / 1;
    overflow: hidden;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: max(6vw, 1rem);
  }
</style>
