---
import Layout from '~/layouts/default.astro';

// - office hours
// - large footer with cta
const SERVICES = [
  'Brand Identity',
  'Branded Content',
  'Graphic Design',
  'Digital Design',
  'Motion Design',
  'Website & E-Commerce',
  'Creative Development',
  'Front-end Development',
  'Headless CMS',
];
---

<Layout title="Info" description="A star is born">
  <div class="wrapper">
    <h1 class="text-center">Info</h1>
  </div>
</Layout>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: 300vh;
    width: 100%;
    padding: max(6vw, 1rem);
  }

  h1 {
    font: 600 normal clamp(10px, 8.33vw, 160px) / 0.8 var(--font-heading);
  }
</style>
