.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: calc(var(--vh, 1vh) * 100);
  isolation: isolate;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
}

.error {
  display: grid;
  min-height: 100vh;
  place-items: center;
  padding: var(--grid-margin);
  text-align: center;
}
