---
import { GridDebuggerToggle } from '~/components/grid-debugger/index.jsx';

const LINKS = [
  {
    href: '#',
    label: 'Instagram',
  },
  {
    href: '#',
    label: 'Linkedin',
  },
  {
    href: '#',
    label: 'Github',
  },
];

const currentDate = new Date();
const year = currentDate.getFullYear();
// const month = String(currentDate.getMonth() + 1).padStart(2, '0');
// const day = String(currentDate.getDate()).padStart(2, '0');
---

<footer class="footer">
  <GridDebuggerToggle client:load>Shift + G</GridDebuggerToggle>

  <div>
    {
      LINKS.map((link, index) => (
        <>
          <a
            href={link.href}
            target="_blank"
            rel="noopener noreferrer"
            class="link"
          >
            {link.label}
          </a>
          {index !== LINKS.length - 1 && <span>/</span>}
        </>
      ))
    }
    <p>© Mallard Green — {year}</p>
  </div>
</footer>

<style>
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--grid-margin);
  }

  .toggle-grid {
    cursor: pointer;
  }
</style>
