---
import Link from './link.astro';
import { BizCardToggle } from './biz-card/index.jsx';

const LINKS = [
  { href: '/info', label: 'Info' },
  // { href: "/contact", label: "contact" },
  // { href: "/", label: "home" },
  // { href: "/r3f", label: "r3f" },
  // { href: "/forms", label: "forms" },
];

const currentPath = Astro.url.pathname;
---

<nav>
  <ul class="list">
    {
      LINKS.map((link) => (
        <li class:list={['list-item', currentPath === link.href && 'active']}>
          <Link href={link.href} class="link">
            {link.label}
          </Link>
        </li>
      ))
    }

    <BizCardToggle client:load className="link">Contact</BizCardToggle>
  </ul>
</nav>

<style>
  nav {
    position: relative;
    z-index: var(--layer-overlay);
  }

  .list {
    display: flex;
    flex-direction: column;
  }

  .list-item {
    position: relative;
    display: inline-flex;
    align-items: center;
  }
</style>
